.body{
margin:0;

    font-family: 'Roboto', sans-serif;
}
/***navbar***/
.nav-item{
    letter-spacing:0.2em;
    font-size:14px;
    text-transform:uppercase;
}
.dropdown-item{
    letter-spacing:0.2em;
    font-size: 14px;
    text-transform:uppercase;
}

.my_footer{


 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 237, 252);
  color: dark;
  text-align: center;
}
}
.my_footer h5{
text-align:center;
color: dark;

}




/*** category page ***/
.my_row_class{
    padding-top:15px;
    margin:0;
}
.my_row_class .mx-auto{
    color:#000;
    font-size:20px;
}


.my_title{
    font-size:25px;
    text-transform:uppercase;
    letter-spacing:0.2em;

}


.card-body h4{
margin:0;
font-size:14px;
text-transform:uppercase;
letter-spacing:0.2em;

}
.responsive {
  background-position: center;
  background-repeat: no-repeat;
  width: 1263px;
  height: 500px;

}
.cat_des{
background-color:rgb(241, 59, 236);
font-size: 20px;
}
/*** product page ***/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_row_class .mx_auto{
    color:#000;
    font-size:15px;
    text-decoration:none;
}
.my_prod_title{
    font-size:16px;
    text-transform: uppercase;
    letter-spacing:0.2em;
    padding-top:15px;
    padding-bottom:10px;

}
.my_prod_text{
    padding-right:20px;
}
.topnav{
    float:right;

}
.my_search_text{
padding-top:20px;
}


/*** cart page ***/

.my_custom_table{
min-width:400px;
font-size:14px;
}
.my_custom_thead{
font-weight:normal;
text-transform:uppercase;
letter-spacing:0.2em;
background-color:#f8f8fa!important
}
.custom_a{
text-decoration:None;
}
.custom_icon{
text-decoration:None;
color:#868e96 !important;
}
my_custom_button{
margin-top:5px;
}











