{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
      {{ category.description|truncatewords:155 }}
  {% else %}
      welcome to ABC store where you can buy different items....
  {% endif %}
{% endblock %}
{% block title %}
  {% if category %}
      {{ category.title}} -ABC Store
  {% else %}
      See our latest collections....
  {% endif %}
{% endblock %}


{% block content %}
  {% if category %}
      <div>
        <div class="row my_row_class">
            <div class="mx-auto">
          <p><a href="{% url 'shapp:allProdCat' %}">Our Product Collections</a></p>
            </div>
        </div>
      </div>
  {% endif %}
<div class="mx-auto">
  {% if category %}
      <img class="my_image responsive" src="{{category.image.url}}" width="1240" height="500" alt="{{category.name}}">

</div>
<br><br><br>
<div>
  <h1 class="text-center my_title">{{category.name}}</h1><br>
    <p class="text-justify cat_des">&nbsp;&nbsp;&nbsp;&nbsp;<b>{{category.description}}</b></p>
</div>
  {% else %}
<div>
    <img src="{% static 'img/shopbann.jpg' %}" width="1263"  class="responsive"  alt="Our Products">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Product Collections</h1>
<!--    <pre class="text-center">Lowest Prices-->
<!--                     Best Quality Shopping</pre>-->
</div>
  {% endif %}

<div class="container">
    <div class="row mx-auto">
        {% for product in products.object_list %}
        <div class="my_bottom margi col-4 col-sm-12 col-md-4 col-lg-4 ">
            <div class="card mx-auto text-center" style="min-width:20rem;">
                <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" style="height:150px;width:150px;" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h6>{{product.name}}</h6>
                    <p>{{product.price}}</p>
                </div>
            </div><br>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <br>
</div>
{% endblock %}
