{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
      we have variety of products

{% endblock %}
{% block title %}
  search
{% endblock %}
{% block content %}
<div>
  <p class="text-center my_search_text">you have searched for:<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
        <div class="my_bottom margi col-4 col-sm-12 col-md-4 col-lg-4 ">
            <div class="card mx-auto text-center" style="min-width:20rem;">
                <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" style="height:200px;" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h6>{{product.name}}</h6>
                    <p>{{product.price}}</p>
                </div>
            </div><br>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">0 Results Found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}